#user-recipes-container{
    width: 100%;
}

#user-recipes-row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 50%;
}

#user-recipes-col{
    margin: 15px;
    padding: 15px;
}

#your-recipes-row{
    text-align: left;
    padding: 15px
}

.avatar-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

#avatar-row{
    margin: 40px 0 20px 0
}

.recipe-image{
    max-width: 200px;
    max-height: 150px;
    min-width: 200px;
    min-height: 150px;
    object-fit:cover;
}