#recipe-show-container{
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-show-row{
    margin: 20px 0;
}

#recipe-show-name-col{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 20px 0;
}

.recipe-show-image{
    width: 40%;
}

#edit-recipe-button{
    margin: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(68, 177, 250) ;
    color: white;
    font-size: 15px;
    border: none;
}